.logo{
    height: 80px;
    padding-top: -100px;
    
    
}
.search{
    width: 400px;
    border-radius: 20px;
     font-size: 13px;
}
.na{
    font-size: 13px;
     display: flex; /* or display: grid; */
  gap: 10px; 

}
.icon{
    padding-top: 12px;
    padding-left: 10px;
}
.sticky-top{
    height: 50px;
}
.ss{
    font-size: 11px;
     display: flex; /* or display: grid; */

}
.h{
    margin: 60px;
}
.a{
    margin-left: 200px;
    padding-top:30px ;

}

   .btn-theme {
    background-color: #161A30;
    color: #F0ECE5;
    border: 1px solid #31304D;
  }

  .btn-theme:hover {
    background-color: #31304D;
    color: #F0ECE5;
    border-color: #161A30;
    
  }
   